@page "/"

<h1>Benvenut*</h1>

<p>
    Ciao! Mi chiamo Carla e ho pensato potesse essere utile farti calcolare automaticamente da un'app
    quanti grammi di acqua necessita il tuo impasto
    senza glutine per avere una pizza o del pane perfetto!<br /><br />
    Come ben sappiamo i mix dietoterapici al giorno d'oggi sono veramente tanti, 
    e ognuno ha delle caratteristiche differenti.<br/>
    C'è quello che assorbe più acqua e quello che ne assorbe meno...<br /><br />
    Ma come facciamo a ricordarcelo?<br />
    Non serve se hai questa fantastica app nel tuo smartphone!<br />
</p>

<MudButton Color="Color.Primary" Variant="Variant.Filled">Cominciamo!</MudButton>
